.login {
background: url("img/login.svg") no-repeat top center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: 100% 80%;
}

.white_text {
    background-color: #2196f3;
    color: #fff;
    
}

.blue_text {
    color: #2196f3;
}

.meeting_action {
    color: #033C73 !important;
}

.no_row_decoration a {
    text-decoration: none;
}