

.logo-image img{
    
    height: 45px;
    margin: .5rem;
    margin-right: 0;    
}

.navbar {
    /* border-bottom: 2px solid rgba(0,0,0,.14); */

    
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* box-shadow: 0px 1px grey; */
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
}

.active-check {
    color: green;
}

.active-x {
    color: red;
}

.total-row {
    color: green;
}


table.table-list td a{
    text-decoration: none !important;
    color: #212529;
}

.asteriskField {
    display: none;
}

.row-hover:hover {
    /* background: #2196F3!important; */
    cursor: pointer;
    /* border: 4px solid #2196F3!important; */
    font-weight: bold;
    /* color: #2196F3; */
  }
  
  .table-top {
    /* border-top: 2px solid #64B5F6; */
    border-top: 2px solid #64b5f6;
    /* border-bottom: 2px solid #1976d2; */
  }  
  
  .test {
    /* border-top: 2px solid #64B5F6; */
    border-bottom: 2px solid #64b5f6;
  }
  .iconPointer:hover {
    cursor: pointer;
  }
  .login-text1 {
    color: #2196F3 !important;
    font-size: 1.5rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal !important;
    font-family: "Roboto", sans-serif !important;
    
  }
  .login-text2 {
    color: #2196F3 !important;
    font-weight: 500;
    font-size: 48px;
    font-family: "Roboto", sans-serif !important;
  }

  .card-border {
    border-color: #2196F3 !important;
  }

  .blue-font-color {
    color: #2196F3 !important;
  }