{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  

<div class="row mt-4 justify-content-around">
    <div class="col-sm-5 ">
        
        <div class="card mt-5 card-border ">            
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/cc_logo.png' %}" alt="" height="65">
                    
                    <div class="login-text1 mt-5">
                        CARICOM Secretariat
                    </div>
                    <div class="login-text2">Leave Grant</div>
                </div>
                <div class="px-4 py-4">
                    <form method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <p class="text-center pt-2">
                            <input class="btn btn-primary "type="submit" value="Login" />
                            <input type="hidden" name="next" value="{{ next }}" />                            
                            
                        </p>  
                        <p class="text-center">
                            <a href="{% url 'password_reset' %}" class="text-primary">Password Reset</a></p>       
                            
                    </form>
                </div>
                </div>
            </div>
        </div>
                 
    </div>   
   
</div>


  
{% endblock %}