{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}   

<div class="row mt-4 justify-content-around">
    <div class="col-sm-5 ">
        
        <div class="card mt-5 card-border ">            
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/cc_logo.png' %}" alt="" height="65">
                    
                    <div class="login-text1 mt-5">
                        CARICOM Secretariat
                    </div>
                    <div class="login-text2">Leave Grant</div>         
                      <div class="px-4 py-4">
                        Your password has been reset.
                        <div class="py-1 mt-2">
                          <a href="{% url 'login' %}" class="text-center btn btn-primary">Login</a>
                       
                      </div>

                </div>              
               
                </div>
                </div>
            </div>
        </div>
                 
    </div>   
   
</div>
{% endblock %}