{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    

<div class="row mt-4 justify-content-around">
    <div class="col-sm-5 ">
        
        <div class="card mt-5 card-border ">            
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/cc_logo.png' %}" alt="" height="65">
                    
                    <div class="login-text1 mt-5">
                        CARICOM Secretariat
                    </div>
                    <div class="login-text2">Leave Grant</div>                  
                </div>
                <div class="px-4 py-4">
                {% if validlink %}  
                    <form method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {% comment %} {{ form|crispy }} {% endcomment %}
                        <p class="text-center pt-2">
                        <div class="blue-font-color">
                        {{form|crispy}}  
                        </div>      
                           
                           <div class="text-center">
                              <button type="submit" 
                                      class="btn btn-primary" 
                                      value="Reset password">Reset Password
                              </button>
                          </div>                                              
                            
                        </p>                         
                    </form>
                {% else %}     
                    <div class="h3 text-danger">Password reset failed</div>
                    <p class="blue-font-color">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    <div class="py-1 text-center">
                            <a href="{% url 'password_reset' %}" class="btn btn-primary">Password Reset</a>
                            
                          </div>
                {% endif %}
                </div>
                </div>
            </div>
        </div>
                 
    </div>   
   
</div>



{% comment %} 
<div class="row py-5 justify-content-md-center">
    <div class="col-sm-12 col-md-5">
          
      <div class="card border-info">
          <div class="card-header bg-info lead text-white">Password Reset</div>  
            <div class="card-block px-4 py-3">
                
                {% if validlink %}                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="text-danger">
                            {{ form.new_password1.errors }}                            
                        </div> 
                        <div class="blue-font-color">                          
                           {{ form.new_password1  | as_crispy_field}}
                        </div> 
                        <div class="text-danger">
                            {{ form.new_password2.errors }}
                        </div>
                        <div class="blue-font-color">
                            {{ form.new_password2 | as_crispy_field }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" value="Change my password">Change my Password</button>
                        </div>
                {% else %}     
                    <div class="h3 text-danger">Password reset failed</div>
                    <p class="blue-font-color">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    <div class="py-1 text-center">
                            <a href="{% url 'password_reset' %}" class="btn btn-primary">Password Reset</a>
                            
                          </div>
                {% endif %}

            </div>
            
        </div>
        
    </div>
</div> {% endcomment %}

{% endblock %}