{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}



<div class="row mt-4 justify-content-around">
    <div class="col-sm-5 ">
        
        <div class="card mt-5 card-border ">            
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/cc_logo.png' %}" alt="" height="65">
                    
                    <div class="login-text1 mt-5">
                        CARICOM Secretariat
                    </div>
                    <div class="login-text2">Leave Grant</div>                  
                </div>
                <div class="px-4 py-4">
                    <form method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {% comment %} {{ form|crispy }} {% endcomment %}
                        <p class="text-center pt-2">
                                          
                           <div class="blue-font-color">                         
                              {{ form.email | as_crispy_field }}
                          </div>   
                           <div class="text-center">
                              <button type="submit" 
                                      class="btn btn-primary" 
                                      value="Reset password">Reset Password
                              </button>
                          </div>                                              
                            
                        </p>                         
                    </form>
                </div>
                </div>
            </div>
        </div>
                 
    </div>   
   
</div>

{% comment %} 


<div class="row py-5 justify-content-md-center">
    <div class="col-sm-12 col-md-5">
          
      <div class="card border-info">
          <div class="card-header bg-info lead text-white">Password Reset</div>  
            <div class="card-block px-4 py-3">
                
                <form action="" method="post" >
                        {% csrf_token %}                       
                       <div class="text-danger">
                          {% if form.email.errors %}
                            {{ form.email.errors }}
                          {% endif %}
                       </div>                        
                       <div class="text-info">                         
                          {{ form.email | as_crispy_field }}
                      </div>   
                       <div class="text-center">
                          <button type="submit" class="btn btn-outline-info" value="Reset password">Reset Password</button>
                      </div>
                        
                    </form>  

            </div>
            
        </div>
        
    </div>
</div> {% endcomment %}








<!--

  <div class="row justify-content-md center">
      <div class="col-sm-4">
          <form action="" method="POST">
              {% csrf_token %}
              <div >
                <div> {% if form.email.errors %}
                        {{ form.email.errors }}
                      {% endif %}
                </div>
                  <div class="form-group">
                      {{ form.email | as_crispy_field }}
                  </div>          
              </div>
              
              <div>
                  <button type="submit" class="btn btn-outline-info" value="Reset password">Reset Password</button>
              </div>
             
          </form>
      </div>
  </div>
  -->
{% endblock %}