{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-4 justify-content-around">
    <div class="col-sm-5">
        
        <div class="card">
            <div class="card-title bg-primary text-white h3 text-center pt-2 pb-2">Beneficiary Details</div>
                <div class="card-body">
                    <form method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <p class="text-center">
                            <input class="btn btn-outline-primary " type="submit" value="Add Beneficiary">
                        </p>                   

                    </form>
                </div>
            </div>
        </div>
                 
    </div>

    
   
</div>

  
{% endblock %}

{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}