{% extends "base_generic.html" %}
{% load humanize %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12">
   
<div class="card mt-5 card-border">
    <div class="card-body ">

        <h4 class="">Leave Grant</h4>
        <h2 class="">Payment Details</h2>
       
        <div>
            <a class="mt-3 btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Beneficiary Details" href="{% url 'beneficiary-detail' beneficiary.id %}">
                {{beneficiary}}  | {{beneficiary.leave_grant_level}}   
            </a>
               
        </div>
        <!-- <p></p>
        <p>{{beneficiary.eligibility_date}}</p>
    
     -->
   
    <!-- {{outstanding_total.outstanding_total|intcomma}} -->
    {% if outstanding_payments %}
        <div class="row justify-content-center mt-5">
            <div class="col">
                <h3 class="">Pending Payments</h3>
            </div>
        </div>
        <table class="table table-top">
            <thead class="table-header">
                <tr>
                    <th scope="col">Payment Date</th>            
                    <th scope="col" class="">Amount (EC$)</th>
                    <th scope="col" class="">Remarks</th>
                </tr>
            </thead>

            {% for  payment in outstanding_payments %}
                <tr>
                    <td>{% if payment.payment_date %}
                            {{payment.payment_date}}
                        {% else %}
                            To be paid
                    {% endif %} </td>
                    
                    <td>${{payment.amount|intcomma}}</td>
                    <td>{{payment.remarks}}</td>
                    
                </tr>
            {% endfor %}
                <tr>
                    <td class=' h5'>TOTAL</td>
                    <td class=''>${{outstanding_total.outstanding_total|floatformat:2|intcomma}}</td>
                    <td><a href="{% url 'confirm-payment' beneficiary.id %}" class="btn btn-success">Record Payment</a></td>
                    <!-- <td><button class='btn btn btn-success'>Authorize Payment</button></td> -->
                </tr>

        </table>
    {%endif%}

    <div class="row mt-5">
        <div class="col">
            <h3 >Payment History</h3>
        </div>
    </div>
    <table class="table table-top">
    <thead class="table-header">
        <tr>
            <th scope="col">Payment Date</th>            
            <th scope="col" class="">Amount (EC$)</th>
            <th scope="col" class="">Remarks</th>
        </tr>
    </thead>
    
    {% for  payment in payments %}
        <tr>
            <td>{% if payment.payment_date %}
                    {{payment.payment_date}}
                {% else %}
                    To be paid
            {% endif %} </td>
            
            <td>${{payment.amount|intcomma}}</td>
            <td>{{payment.remarks}}</td>
            
        </tr>
    {% endfor %}

</table>

   </div>
</div> 

     
</div>
</div>
{% endblock %}

{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}

