{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-6">
   
<div class="card mt-5 card-border">
    <div class="card-body">
        <div >
            <h4 class="">Leave Grant</h4>
            <h2 class="">
                {%if form_type == 'update'%}
                    Update Beneficiary
                    <div>
                        <a href="{% url 'beneficiary-detail' beneficiary.pk %}" class="mt-3 btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Beneficiary Details">{{beneficiary.first_name}} {{beneficiary.last_name}}</a>

                    </div>
                {% else %}
                    New Beneficiary
                {% endif %}                            
                </h2>        
            
        </div>

        <div class="row">
        
            <div class="mt-3 col-sm-12">
            {% comment %} <div class="card-title bg-primary text-white h3 text-center pt-2 pb-2">Update Beneficiary</div> {% endcomment %}
            <div class="card-body">
                <form method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.employee_id | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{form.first_name | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{form.last_name | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{form.eligibility_date | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{form.active | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{form.leave_grant_level | as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{form.job_title | as_crispy_field }}
                    </div>
                   
              
                    <p class="text-center">
                        <input class="btn btn-primary " type="submit" 
                        {%if form_type == 'update'%} 
                            value="Update Details" 
                        {% else %} 
                            value="Add Beneficiary" 
                        {% endif %}
                        
                    </p>
                    
                    
                </form>
            </div>
            </div>
        </div>
       
       
        
   

   </div>
</div> 

     
</div>
</div>

  
{% endblock %}

{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}