{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12">
   
<div class="card mt-5 card-border">
    <div class="card-body">
        <div >
            <h4 class="">Leave Grant</h4>
            <h2 class="">Beneficiary Details</h2>        
            <a href="{% url 'beneficiary-payment' beneficiary.pk %}" class="mt-3 btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Payment Details">{{beneficiary.first_name}} {{beneficiary.last_name}}</a>
        </div>
       
        
        <div class="mt-5 pt-2">
            {% if beneficiary.card %}
            <h4 class="">Beneficiary <a href="{{beneficiary.card.url}}" target="_blank" ><i class="text-warning far fa-file-alt" data-bs-toggle="tooltip" data-bs-placement="right" title="View Leave Card"></i></a></h4>
            {% endif %}
        </div>
        

        <div class="mt-2">
            <table class="table table-hover table-top">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Eligibility Date</th>
                        <th>Leave Grant Level</th>
                        <th class="text-center">Active</th>                   
                    </tr>
                </thead>
                <tr class="row-hover" data-href="{% url 'beneficiary-update' beneficiary.pk %}">                    
                    <td><a class="" >{{beneficiary.first_name}}</a></td>
                    <td>{{beneficiary.last_name}}</td>
                    <td>{{beneficiary.eligibility_date}}</td>
                    <td>{{beneficiary.leave_grant_level}}</td>
                    <td class="text-center">
                        {% if beneficiary.active %}
                            <i class="far fa-check-circle active-check "></i>
                        {% else %}
                            <i class="far fa-times-circle active-x "></i>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
       
        
        <div class="mt-5 pt-2">
            <h4>Dependents <a href="{% url 'dependent-new' beneficiary.pk %}" class="pl-1"><i class=" text-warning fas fa-user-plus fa-xs" data-bs-toggle="tooltip" data-bs-placement="right" title="Add Dependent"></i></a></h4>
        </div>

        <div class="pt-2">
            <table class="table table-hover table-top">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Relation</th>
                        <th>DOB</th>
                        <th class="text-center">Active</th>
                    </tr>
                </thead>
        {% if beneficiary.dependent.all %}
                {% for dependent in beneficiary.dependent.all %}        
                
                <tr class="row-hover" data-href="{% url 'dependent-detail' dependent.pk %}">
                    <td>{{dependent.first_name}}</td>
                    <td>{{dependent.last_name}}</td>
                    <td>{{dependent.dependent_type}}</td>
                    <td>{{dependent.date_of_birth}}</td>
                    <td class="text-center">
                        {% if dependent.active %}
                            <i class="far fa-check-circle active-check "></i>
                        {% else %}
                            <i class="far fa-times-circle active-x "></i>
                        {% endif %}
                    </td>                    
                </tr>
                
                {% endfor %}
                
            </table>
        </div>
        {% endif %}
   

   </div>
</div> 

     
</div>
</div>

   
{% endblock %}




{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}