{% extends "base_generic.html" %}
{% load humanize %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-7">
   
<div class="card mt-5">
    <div class="card-body ">

        <h4 class="">Leave Grant</h4>
        <h2 class="">Payment Confirmation</h2>
        <a href="{% url 'beneficiary-payment' bene.pk %}" class="mt-3 btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Payment Details">{{bene.first_name}} {{bene.last_name}}</a>
        
        <div class="mt-5 pb-2">
            You are about to update leave grant payment information for {{bene.first_name}} {{bene.last_name}}
             <!-- <span class="text-success">EC$ {{outstanding_total}}</span> to beneficiary -->
        </div>
       
       <div class="">
        <form method="post" >
            {% csrf_token %}            
          
            <input class="btn btn-outline-success " type="submit" value="Confirm Payment">
            <a href="{% url 'beneficiary-payment' beneficiary_id %}" class="btn btn-success">Cancel</a>
            
        </form>
        
       </div>

       
        
   

   </div>
</div> 

     
</div>
</div>
{% endblock %}

{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}

