{% extends "base_generic.html" %}



{% block content %}
<div class="card mt-5 card-border">
    <div class="card-body">

<div >
            <h4 class="">Leave Grant</h4>
            <h2 class="">Dependent List</h2>       
        </div>
   
<!-- <div class="row pb-4 mt-5 pt-2">
    <div class="col-sm-4 ">

        <form class="form-inline my-2 my-lg-0 " action="{% url 'beneficiary' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Beneficiary" aria-label="Search" name='search' >
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div> -->

<div class="row justify-content-center pb-4 mt-5 pt-2">
    <div class="col-sm-12 ">
<table class="table table-hover table-top ">
    <thead class="table-header">
        <tr>
            <th scope="col">Dependent</th>            
            <th scope="col" class="text-center">Active</th>
        </tr>
    </thead>
    
    {% for  dependent in dependent_list %}
        <tr class="row-hover" data-href="{% url 'beneficiary-detail' dependent.beneficiary.pk %}">
            <td>
                {{dependent.first_name}} {{dependent.last_name}}              
            </td>
            
            <td class="text-center">
                {% if dependent.active %}
                    <i class="far fa-check-circle active-check "></i>
                {% else %}
                    <i class="far fa-times-circle active-x "></i>
                {% endif %}
            </td>
            
        </tr>
    {% endfor %}

</table>

<div class=" row mt-4 justify-content-center">
    <div>
        {% block pagination %}
            {% include "pagination.html" %}
        {% endblock %}
    </div>
</div>
</div>
</div>








{% endblock %}


{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}
