{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-4 justify-content-around">
    <div class="col-sm-5">
        
        <div class="card">
            <div class="card-title bg-primary text-white h3 text-center pt-2 pb-2">Dependent Details</div>
                <div class="card-body">
                    <form method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <p class="text-center">
                            <input class="btn btn-outline-primary " type="submit" value="{% if form_type == 'update' %} Update {% else %} Add {% endif %} Dependent">
                        </p>                   

                    </form>
                </div>
            </div>
        </div>
                 
    </div>

    
   
</div>

<script>
    /*
        This script checks to see if the active checkbox is checked
        and disables the further education checkbox if it is
    
    */

let active_checkbox = document.getElementById('id_active')
let fe_checkbox = document.getElementById('id_further_education')

function further_education_check(){
    if ((active_checkbox).checked ){        
        fe_checkbox.disabled = false; 
    }else {
        
        fe_checkbox.disabled = true;
        fe_checkbox.checked = false;
    }
}

document.addEventListener("DOMContentLoaded", function(event){   
    further_education_check()
    
})

active_checkbox.addEventListener('click', () => {
    further_education_check()
})

</script>
{% endblock %}

{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}