{% extends "base_generic.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-6">
   
<div class="card mt-5 card-border">
    <div class="card-body">
        <div >
            <h4 class="">Leave Grant</h4>
            <h2 class="">
                {%if form_type == 'update'%}
                    Update Dependent
                    <div>
                        <a href="{% url 'beneficiary-detail' dependent.beneficiary.pk %}" class="mt-3 btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Beneficiary Details">{{dependent.first_name}} {{dependent.last_name}}</a>

                    </div>
                {% else %}
                    New Dependent
                {% endif %}                            
                </h2>        
            
        </div>

        <div class="row">
        
            <div class="mt-3 col-sm-12">
            {% comment %} <div class="card-title bg-primary text-white h3 text-center pt-2 pb-2">Update Beneficiary</div> {% endcomment %}
            <div class="card-body">
                <form method="post" novalidate="novalidate">
                    {% csrf_token %}
                    {{ form|crispy }}
                   
              
                    <p class="text-center">
                        <input class="btn btn-primary " type="submit" 
                        {%if form_type == 'update'%} 
                            value="Update Details" 
                        {% else %} 
                            value="Add Dependent" 
                        {% endif %}
                        
                    </p>
                    
                    
                </form>
            </div>
            </div>
        </div>
       
       
        
   

   </div>
</div> 

     
</div>
</div>

{% comment %} <script src="{% static 'scripts/active_education_checkbox.js' %}"></script>   {% endcomment %}
<script>
    /*
        This script checks to see if the active checkbox is checked
        and disables the further education checkbox if it is
    
    */

let active_checkbox = document.getElementById('id_active')
let fe_checkbox = document.getElementById('id_further_education')

function further_education_check(){
    if ((active_checkbox).checked ){        
        fe_checkbox.disabled = false; 
    }else {
        
        fe_checkbox.disabled = true;
        fe_checkbox.checked = false;
    }
}

document.addEventListener("DOMContentLoaded", function(event){   
    further_education_check()
    
})

active_checkbox.addEventListener('click', () => {
    further_education_check()
})

</script>
{% endblock %}

{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}