{% block navbar %}
{% if request.path_info != '/' %}
  <div class="pr-3">
  <form class="form-inline my-2 my-lg-0 " action="{% url 'beneficiary' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Beneficiary" aria-label="Search" name='search' >
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
  
{% endif %}

{% block search_form %}
{% endblock %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Beneficiary
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'beneficiary-new'%}">Add New Beneficiary</a>
        <div class="dropdown-divider"></div>
    {% if beneficiary %}
        <a class="dropdown-item" href="/hr/leave-grant/beneficiary/{{ beneficiary.pk }}/dependent/new/">Add New Dependent</a>
        <div class="dropdown-divider"></div>       
        
        <a class="dropdown-item" href="{% url 'beneficiary-payment' beneficiary.pk %}">Payment Details</a>
         <div class="dropdown-divider"></div> 
        <a class="dropdown-item" href="{% url 'beneficiary' %}">Search Beneficiary</a>
    {% endif %}
    </div>
  </li>   

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reports
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{% url 'dependent-all' %}">All Dependents</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'dependent-over18' %}">Dependents over 18 (Children)</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'pending-payment' %}">Pending Payments</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'transaction-history' %}">Transaction History</a>
    <div class="dropdown-divider"></div>
 
  </div>
</li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="far fa-user-circle  "></i> 
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>        
      
    </div>
  </li>
{% endblock %}