{% extends 'navbar-links.html' %}
{% block search_form %}
  <form class="form-inline my-2 my-lg-0 " action="{% url 'beneficiary' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Beneficiary" aria-label="Search" name='search' >
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
{% endblock %}