{% extends "base_generic.html" %}



{% block content %}
<div class="card mt-5 card-border">
    <div class="card-body">

<div >
            <h4 class="">Leave Grant</h4>
            <h2 class="">Transaction History</h2>       
        </div>
   

<div class="row justify-content-center pb-4 mt-5 pt-2">
    <div class="col-sm-12 ">
<table class="table table-hover table-top ">
    <thead class="table-header">
        <tr>
            {% comment %} <th scope="col">Beneficiary</th> {% endcomment %}
            <th scope="col">Description</th> 
            {% comment %} <th scope="col">Leave Grant Year</th>  {% endcomment %}
            <th scope="col">Amount</th> 
            <th scope="col">Record Created</th> 
            <th scope="col">Payment Recorded</th>
            <th scope="col">Recorded By</th>           
            
        </tr>
    </thead>
    
    {% for  record in leave_grant_detail_list %}
        
        <tr class="row-hover" data-href="{% url 'beneficiary-payment' record.beneficiary.pk %}">
            {% comment %} <td>{{record.beneficiary.first_name}} {{record.beneficiary.last_name}}</td> {% endcomment %}
            <td>
               {{record.remarks}}             
            </td>
            {% comment %} <td>
                {% if record.transaction_year %}
                    {{record.transaction_year}}
                {% endif %}
            </td> {% endcomment %}
            <td>
                {{record.amount}}
            </td>
            <td>
                {{record.created_at}}
            </td>
            <td>
                {% if record.payment_date %}
                    {{record.payment_date}}
                {% endif %}
            </td>
            <td>
                {% if record.recorded_by %}
                    {{record.recorded_by}}
                {% endif %}
            </td>
        </tr>
      
      
    {% endfor %}

</table>
<div class=" row mt-4 justify-content-center">
    <div>
        {% block pagination %}
            {% include "pagination.html" %}
        {% endblock %}
    </div>
</div>
</div>
</div>








{% endblock %}


{% block navbar %}
    {% include "hr_leave_grant_app/navbar-links.html" %}
{% endblock %}
